@import "tailwindcss";

@theme {
  --color-color1: #f97316;
  --color-color2: #4722f5;
  --color-color3: #0ea52f;
  --color-color4: #08041a;
  --color-color5: #ffbf32;

  --color-gray1: #d1d0d5;
  --color-gray2: #6c6d6f;
  --color-gray3: #f4f5f7;
  --color-gray4: #b9bbbe;

  --font-sans: "Poppins", sans-serif;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  @apply bg-white/40 flex rounded-full !w-auto py-1 !left-1/2 !-translate-x-1/2 !bottom-1 px-1;
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-white !mx-[2px];
}
